.App {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: background-color 1s;
}

.no-color {
    background-attachment: fixed;
    background: linear-gradient(180deg, #B3B3B3 0%, #888888 36.46%, #010101 100%);
}